<footer class="footer">
  <div class="container">
    <div class="row text-muted">
      <div class="col-md-12 col-sm-12 well well-lg text-center">
        <address>
          <strong>Bootstrap Bakery</strong><br>
          11 Broadway<br>
          New York, NY 10007<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <address>
          <strong>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> at the Flatiron School</strong><br>
          <a href="mailto:#">bootstrap.bakery@flatironschool.com</a>
        </address>
      </div>
      </div>
    </div>
</footer>
